{% extends '/html/base.html' %} 
{% block content %}
<head>
  <style>
    .aboutfooter {
      text-align: center;
      padding: 10px 20px;
      background-color: white;
      border-top: 1px solid #ddd;
    }

    .aboutfooter ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .aboutfooter ul li {
      margin: 0 10px;
    }

    .aboutfooter ul li a {
      text-decoration: none;
      color: #5a2ea6;
    }
  </style>
</head>
<div class="container px-4">
  <div class="flex flex-nowrap">
    <div class="w-1/4 min-h-screen bg-gray-100 p-4">
      <div class="flex flex-col items-center drop-shadow  ">
        <p class="text-2xl font-bold pb-3">StyleSync</p>
        <hr class="w-full" />
        <ul class="w-full">
          <li class="my-4">
            <div id="ww_2a86b77fb94b6" v="1.3" loc="auto" a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_whr":3,"el_phw":3}'>
              <a href="https://weatherwidget.org/" id="ww_2a86b77fb94b6_u" target="_blank">Weather widget</a>
            </div>
            <script async src="https://app2.weatherwidget.org/js/?id=ww_2a86b77fb94b6"></script>
          </li>
          <li class="w-full dark:bg-white">
            <form action="/views/wardrobe/filter" method="post">
              <div class="w-full" id="filterAccordion">
                {% for category in categories %}
                <div class="mb-2 collapse collapse-plus">
                  <input type="checkbox" name="{{category.name}}"/> 
                  <div class="collapse-title text-xl font-medium">
                  <button class="btn btn-outline w-full text-left text-black dark:text-orange-600" type="button" data-toggle="collapse-content" data-target="#collapse{{ category.name }}" aria-expanded="true" aria-controls="collapse{{ category.name }}">
                    {{ category.name }}   
                  </button>
                  </div>
                  <div id="collapse{{ category.name }}" class="collapse-content" data-parent="#filterAccordion">
                    <div class="p-2">
                      {% for filter in category.filters %}
                      <div class="form-check">
                        <input type="checkbox" name="{{filter.name}}"   class="checkbox border-orange-400 checked:border-indigo-800 [--chkbg:theme(colors.indigo.600)] [--chkfg:orange]" value="{{ filter.id }}" id="filter{{ filter.name }}" name="{{filter.name}}">
                        <label class="form-check-label" for="filter{{ filter.name }}">
                          {{ filter.name }}
                        </label>  
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button type="submit" class="btn btn-primary mt-2">Filter</button>
              <a href="{{url_for('html.wardrobe')}}" class="btn btn-secondary mt-2">Clear</a>
            </form>
          </li>
        </ul>
        <hr class="w-full" />
      </div>
    </div>
    <div class="flex-1 py-3">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 pl-28">
        {% for item in items %}
        <div class="card shadow-lg  bg-base-100 cursor-pointer hover: drop-shadow dark:bg-white" onclick="document.getElementById('offcanvas{{item.id}}').classList.remove('hidden')">
          <figure><img class="object-scale-down w-full h-48 pt-6 "  src="{{ url_for('static', filename = item.image_url) }}" alt="Image"></figure>
          <div class="card-body">

            <div class="card-actions justify-end">
              {% for tag in item.item_tags %}
              <div class="badge badge-outline badge-primary p-3 dark:bg-green-50"><i class="fa-solid fa-tag -ml-0 m-1"></i>{{ tag.filter.name }}</div>
              {% endfor %}
            </div>
          </div>  
        </div>  

        <!-- Offcanvas element for each item -->
        <div id="offcanvas{{item.id}}" class="fixed inset-0 hidden z-50 bg-black bg-opacity-50 flex justify-center items-end">
          <div class="bg-white w-full h-3/4 overflow-y-auto p-4">
            <div class="flex justify-between items-center">
              <h5 class="text-xl font-bold">{{item.name}}</h5>
              <button class="btn btn-sm btn-circle" onclick="document.getElementById('offcanvas{{item.id}}').classList.add('hidden')">✕</button>
            </div>
            <div class="text-center my-4">
              <p>Selected Details...{{item.id}}</p>
              <img src="{{ url_for('static', filename = item.image_url) }}" alt="Image" class="object-cover w-48 h-48 mx-auto">
              <div class="mt-4 space-x-2">
                <a href="{{url_for('html.item', id=item.id)}}" class="btn bg-green-400">View</a>
                <a href="{{url_for('html.delete_item', id=item.id)}}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<footer class="aboutfooter">
  <ul>
    <li><a href="mailto:style@sync.com">Contact</a></li>
    <li><a href="{{url_for('html.about')}}">About</a></li>
  </ul>
</footer>
{% endblock %}
