<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Test</title>
    <link rel="stylesheet" href="uploadcss.css">
</head>
<body>
    <div class="area">
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/uploadtest">
            <input type="file" id="upload" name="file" />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <script src="uploadscript.js"></script>
</body>
</html>
